/daily_mail_count_distribution.png
/daily_trends_ma30.png
/heatmap_day_hour.png
/incoming_outgoing_ma14.png
/mail_counts_per_day.csv
/mail_counts_per_week.csv
/mail_counts_per_weekday.csv
/mail_raw.csv
/weekly_mail_counts.png